<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <menuitem id="menu_foo_main"
            name="Foo"
            sequence="0"/>

  <menuitem id="menu_bar_main"
            name="Bar Details"
            parent="menu_foo_main"
            sequence="0"/>

  <menuitem id="menu_bar"
            action="action_foo_bar"
            name="Bar"
            parent="menu_bar_main"
            sequence="0"/>
</odoo>